@media screen and (max-width: 1550px) {

  .mainwrap {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .active-project {
    margin: 0 auto;
    margin-left: 0.1vh;
  }

  .fullgallery {
    grid-template-columns: 1fr 1fr 1fr;
  }

}

@media screen and (max-width: 1150px) {

  .mainwrap {
    grid-template-columns: 1fr 1fr;
  }

  .gallery {
    grid-template-columns: 1fr;
  }

  .fullgallery {
    grid-template-columns: 1fr 1fr;
  }

  .fliporder {
    order: 3;
  }

  .contentwrap {
    grid-template-columns: 1fr;
  }

  .contentdescription {
    padding-right:0em;
  }

  .embed-container-16-9 {
    order: 1;
  }

  .embed-container-2-35-1 {
    order: 1;
  }

}

@media screen and (orientation: portrait) {

  .mainwrap {
    grid-template-columns: 1fr;
  }

  .fullgallery {
    grid-template-columns: 1fr;
  }

  .contentwrap {
    margin-top: 0em;
    margin-bottom: 1em;
  }

  .title  {
    display: none;
  }

  .navwrap  {
    grid-template-columns: 0fr 4fr;
    margin-bottom: 4vh;
  }

  body{
    /* GLOBAL TEXT */
      font-size: 3.7rem;
    }
}
