body{
  background-color: white;
  color: black;
  margin: 0 auto;
  padding: 0 auto;
  padding-bottom: 0px;


/* GLOBAL TEXT */
  font-size: 2.2rem;
  line-height: 113%;
  font-weight: bold;
}

iframe {
  border-radius: 0.1em;
}

* {
  box-sizing: border-box;
}

a  {
  color: inherit;
  text-decoration: none;

}

html {
  overflow-y: scroll;
}

iframe {
  overflow: hidden;
}

.allwrap  {
  margin: 0 auto;
  overflow-x: hidden;
  padding-left: 5.7vw;
  padding-right: 5.7vw;
  padding-top: 0.8vw;
}

.navwrap  {
  display: grid;
  grid-template-columns: 15fr 1fr 1fr;
  margin: 0 auto;
  margin-bottom: 5.5vh;
  margin-top: 4vh;
  grid-gap: 2vw;
  width:100%;
}

.mainwrap {
	display: grid;
	grid-gap: 0.8em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width:100%;
}

.projectrow {
  overflow: hidden;
  border-radius: 0.1em;
  /* box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.15); */
  background-color: #f1f1f1;
}

.thumbnail {
  width: 100%;
}

.navlinks  {
  text-align: right;
}

.fliporder {
  order: 1;
}

.nav-left {
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin: 0 auto;
  float: left;
}

.nav-right {
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin: 0 auto;
}

.imggrid {
  border-radius: 0.1em;
}

.contentwrap {
  display: grid;
	grid-gap: 1.2em;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  margin-bottom: 2em;
}

.fullgallery {
  display: grid;
	grid-gap: 1.2em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: start;
  order:5;
  margin-bottom: 2em;
}

.contentdescription {
  padding-right:0.9em;
}

.about {
  height: 0 auto;
  display: inline-block;
  vertical-align: top;
}

.gallery  {
  display: grid;
	grid-gap: 0.3em;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  order:5;
}

.contact {
  word-break: break-all;
}

.embed-container-16-9 {
  position: relative; 
  width: 100%; 
  padding-top: 56.25%;
  order: 3;
}

.embed-container-2-35-1 {
  position: relative; 
  width: 100%; 
  padding-top: 43.05%;
  margin-bottom: 1.6em;
  order: 3;
}

.rollingtitle {
  width:100px;
  display: inline-block;
  height: 1.8em;
  padding-top: 1vw;
  white-space:nowrap;
  position: relative;
  -moz-animation: rollingtitle 30s linear infinite;
  -webkit-animation: rollingtitle 30s linear infinite;
  animation: rollingtitle 30s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes rollingtitle {
  0%   { -moz-transform: translateX(0%); }
  100% { -moz-transform: translateX(-1600%); }
}
@-webkit-keyframes rollingtitle {
  0%   { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(-1600%); }
}
@keyframes rollingtitle {
  0%   {
    -moz-transform: translateX(0%); /* Firefox bug fix */
    -webkit-transform: translateX(0%); /* Firefox bug fix */
    transform: translateX(0%);
  }
  100% {
    -moz-transform: translateX(-1600%); /* Firefox bug fix */
    -webkit-transform: translateX(-1600%); /* Firefox bug fix */
    transform: translateX(-1600%);
  }
}
