.synthetictriggers {
  width: 1000px;
  display: inline-block;
  height: 6vh;
  line-height: 5.5vh;
  overflow: hidden;
  position: relative;
  -moz-animation: synthetictriggers 4s linear infinite;
  -webkit-animation: synthetictriggers 4s linear infinite;
  animation: synthetictriggers 4s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes synthetictriggers {
  0%   { -moz-transform: translateX(0%); }
  100% { -moz-transform: translateX(-32%); }
}
@-webkit-keyframes synthetictriggers {
  0%   { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(-32%); }
}
@keyframes synthetictriggers {
  0%   {
    -moz-transform: translateX(0%); /* Firefox bug fix */
    -webkit-transform: translateX(0%); /* Firefox bug fix */
    transform: translateX(0%);
  }
  100% {
    -moz-transform: translateX(-32%); /* Firefox bug fix */
    -webkit-transform: translateX(-32%); /* Firefox bug fix */
    transform: translateX(-32%);
  }
}

.cotg {
  width: 1000px;
  display: inline-block;
  height: 6vh;
  line-height: 5.5vh;
  overflow: hidden;
  position: relative;
  -moz-animation: cotg 4.5s linear infinite;
  -webkit-animation: cotg 4.5s linear infinite;
  animation: cotg 4.5s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes cotg {
  0%   { -moz-transform: translateX(0%); }
  100% { -moz-transform: translateX(-37%); }
}
@-webkit-keyframes cotg {
  0%   { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(-37%); }
}
@keyframes cotg{
  0%   {
    -moz-transform: translateX(0%); /* Firefox bug fix */
    -webkit-transform: translateX(0%); /* Firefox bug fix */
    transform: translateX(0%);
  }
  100% {
    -moz-transform: translateX(-37%); /* Firefox bug fix */
    -webkit-transform: translateX(-37%); /* Firefox bug fix */
    transform: translateX(-37%);
  }
}

.icosa {
  width: 1000px;
  display: inline-block;
  height: 6vh;
  line-height: 5.5vh;
  overflow: hidden;
  position: relative;
  -moz-animation: icosa 1.5s linear infinite;
  -webkit-animation: icosa 1.5s linear infinite;
  animation: icosa 1.5s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes icosa {
  0%   { -moz-transform: translateX(0%); }
  100% { -moz-transform: translateX(-11.3%); }
}
@-webkit-keyframes icosa {
  0%   { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(-11.3%); }
}
@keyframes icosa{
  0%   {
    -moz-transform: translateX(0%); /* Firefox bug fix */
    -webkit-transform: translateX(0%); /* Firefox bug fix */
    transform: translateX(0%);
  }
  100% {
    -moz-transform: translateX(-11.3%); /* Firefox bug fix */
    -webkit-transform: translateX(-11.3%); /* Firefox bug fix */
    transform: translateX(-11.3%);
  }
}

.kryohabitat {
  width: 1000px;
  display: inline-block;
  height: 6vh;
  line-height: 5.5vh;
  overflow: hidden;
  position: relative;
  -moz-animation: kryohabitat 3s linear infinite;
  -webkit-animation: kryohabitat 3s linear infinite;
  animation: kryohabitat 3s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes kryohabitat {
  0%   { -moz-transform: translateX(0%); }
  100% { -moz-transform: translateX(-22.5%); }
}
@-webkit-keyframes kryohabitat {
  0%   { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(-22.5%); }
}
@keyframes kryohabitat {
  0%   {
    -moz-transform: translateX(0%); /* Firefox bug fix */
    -webkit-transform: translateX(0%); /* Firefox bug fix */
    transform: translateX(0%);
  }
  100% {
    -moz-transform: translateX(-22.5%); /* Firefox bug fix */
    -webkit-transform: translateX(-22.5%); /* Firefox bug fix */
    transform: translateX(-22.5%);
  }
}

.randomobjects {
  width: 1000px;
  display: inline-block;
  height: 6vh;
  line-height: 5.5vh;
  overflow: hidden;
  position: relative;
  -moz-animation: randombobjects 4s linear infinite;
  -webkit-animation: randombobjects 4s linear infinite;
  animation: randombobjects 4s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes randombobjects {
  0%   { -moz-transform: translateX(0%); }
  100% { -moz-transform: translateX(29.5%); }
}
@-webkit-keyframes randombobjects {
  0%   { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(29.5%); }
}
@keyframes randombobjects {
  0%   {
    -moz-transform: translateX(0%); /* Firefox bug fix */
    -webkit-transform: translateX(0%); /* Firefox bug fix */
    transform: translateX(0%);
  }
  100% {
    -moz-transform: translateX(-29.5%); /* Firefox bug fix */
    -webkit-transform: translateX(-29.5%); /* Firefox bug fix */
    transform: translateX(-29.5%);
  }
}

.sadventures {
  width: 1000px;
  display: inline-block;
  height: 6vh;
  line-height: 5.5vh;
  overflow: hidden;
  position: relative;
  -moz-animation: sadventures 7s linear infinite;
  -webkit-animation: sadventures 7s linear infinite;
  animation: sadventures 7s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes sadventures {
  0%   { -moz-transform: translateX(0%); }
  100% { -moz-transform: translateX(-55.5%); }
}
@-webkit-keyframes sadventures {
  0%   { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(-55.5%); }
}
@keyframes sadventures {
  0%   {
    -moz-transform: translateX(0%); /* Firefox bug fix */
    -webkit-transform: translateX(0%); /* Firefox bug fix */
    transform: translateX(0%);
  }
  100% {
    -moz-transform: translateX(-55.5%); /* Firefox bug fix */
    -webkit-transform: translateX(-55.5%); /* Firefox bug fix */
    transform: translateX(-55.5%);
  }
}

.butterflyeffect {
  width: 1000px;
  display: inline-block;
  height: 6vh;
  line-height: 5.5vh;
  overflow: hidden;
  position: relative;
  -moz-animation: butterflyeffect 4.5s linear infinite;
  -webkit-animation: butterflyeffect 4.5s linear infinite;
  animation: butterflyeffect 4.5s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes butterflyeffect {
  0%   { -moz-transform: translateX(0%); }
  100% { -moz-transform: translateX(-34.8%); }
}
@-webkit-keyframes butterflyeffects {
  0%   { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(-34.8%); }
}
@keyframes butterflyeffect {
  0%   {
    -moz-transform: translateX(0%); /* Firefox bug fix */
    -webkit-transform: translateX(0%); /* Firefox bug fix */
    transform: translateX(0%);
  }
  100% {
    -moz-transform: translateX(-34.8%); /* Firefox bug fix */
    -webkit-transform: translateX(-34.8%); /* Firefox bug fix */
    transform: translateX(-34.8%);
  }
}

.gradshow {
  width: 1000px;
  display: inline-block;
  height: 6vh;
  line-height: 5.5vh;
  overflow: hidden;
  position: relative;
  -moz-animation: gradshow 6.5s linear infinite;
  -webkit-animation: gradshow 6.5s linear infinite;
  animation: gradshow 6.5s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes gradshow {
  0%   { -moz-transform: translateX(0%); }
  100% { -moz-transform: translateX(-46.4%); }
}
@-webkit-keyframes gradshow {
  0%   { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(-46.4%); }
}
@keyframes gradshow {
  0%   {
    -moz-transform: translateX(0%); /* Firefox bug fix */
    -webkit-transform: translateX(0%); /* Firefox bug fix */
    transform: translateX(0%);
  }
  100% {
    -moz-transform: translateX(-46.4%); /* Firefox bug fix */
    -webkit-transform: translateX(-46.4%); /* Firefox bug fix */
    transform: translateX(-46.4%);
  }
}

.meursault {
  width: 1000px;
  display: inline-block;
  height: 6vh;
  line-height: 5.5vh;
  overflow: hidden;
  position: relative;
  -moz-animation: meursault 6s linear infinite;
  -webkit-animation: meursault 6s linear infinite;
  animation: meursault 6s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes meursault {
  0%   { -moz-transform: translateX(0%); }
  100% { -moz-transform: translateX(-34.7%); }
}
@-webkit-keyframes meursault {
  0%   { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(-34.7%); }
}
@keyframes meursault {
  0%   {
    -moz-transform: translateX(0%); /* Firefox bug fix */
    -webkit-transform: translateX(0%); /* Firefox bug fix */
    transform: translateX(0%);
  }
  100% {
    -moz-transform: translateX(-34.7%); /* Firefox bug fix */
    -webkit-transform: translateX(-34.7%); /* Firefox bug fix */
    transform: translateX(-42.2%);
  }
}
