.active-projects {
  width: 13.56vh;
  float: left;
  margin: 0 auto;
  height: 0.6vh;
  background: #121212;
  border: 0px;
  transform: translateY(2px);
}

.active-about {
  width: 9.36vh;
  float: left;
  margin: 0 auto;
  height: 0.6vh;
  background: #121212;
  border: 0px;
  transform: translateY(2px);
}

.active-project {
  margin: 0 auto;
  margin-left: 0.1vh;
  height: 0.6vh;
  background: #121212;
  border: 0px;
  transform: translateY(2px);
}
